node_modules/**
!.vscode/**

# Ignore TypeScript & maps (only ship compiled .js)
**/*.ts
**/*.tsx
**/*.map

# Ignore editor & docs
.vscode/
tests/
__tests__/
docs/

# Ignore lockfiles
yarn.lock
package-lock.json

# Ignore all webview source, keep only build
webviews/**
!webviews/**/build/**


# Ignore yarn.lock inside webviews
webviews/**/yarn.lock


# Ignore webview local node_modules
webviews/**/node_modules/**

# Ignore env files
.env
.env.*


# Exclude everything in src except extension.js
src/**
!src/extension.js
